<div class="container">
  <div class="center-form">
    <h4 class="text-center"><i class="fa fa-user-plus" aria-hidden="true"></i> Register</h4>
    <form [formGroup]="signUpForm" (ngSubmit)="signUp(signUpForm.value)">
      <div class="form-group">
        <input type="text" class="form-control" name="firstname" placeholder="First Name" formControlName="firstName"
          [class.is-invalid]="firstName.invalid && firstName.touched">
        <div *ngIf="firstName.invalid && firstName.touched">
          <small *ngIf="firstName.errors?.required" class="text-danger">Firstname is required</small>
          <small *ngIf="firstName.errors?.minlength" class="text-danger">Firstname must be of atleast 3 characters</small>
        </div>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" name="lastname" placeholder="Last Name" formControlName="lastName"
          [class.is-invalid]="lastName.invalid && lastName.touched">
        <div *ngIf="lastName.invalid && lastName.touched">
          <small *ngIf="lastName.errors?.required" class="text-danger">Lastname is required</small>
        </div>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" name="email" placeholder="Email" formControlName="email"
          [class.is-invalid]="email.invalid && email.touched">
        <div *ngIf="email.invalid && email.touched">
          <small *ngIf="email.errors?.required" class="text-danger">Email is required</small>
        </div>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" name="mobilenumber" placeholder="Mobile Number" formControlName="mobileNumber"
          [class.is-invalid]="mobileNumber.invalid && mobileNumber.touched">
        <div *ngIf="mobileNumber.invalid && mobileNumber.touched">
          <small *ngIf="mobileNumber.errors?.required" class="text-danger">Mobile number is required</small>
        </div>
      </div>

      <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password" formControlName="password"
          [class.is-invalid]="password.invalid && password.touched">
        <div *ngIf="password.invalid && password.touched">
          <small *ngIf="password.errors?.required" class="text-danger">Password is required</small>
        </div>
      </div>

      <div class="form-group">
        <input type="password" class="form-control" name="confirmpassword" placeholder="Confirm Password"
          formControlName="confirmPassword" [class.is-invalid]="confirmPassword.invalid && confirmPassword.touched || signUpForm.errors?.mismatch">
        <div *ngIf="confirmPassword.invalid && confirmPassword.touched">
          <small *ngIf="confirmPassword.errors?.required" class="text-danger">Confirm password is required</small>
          <small *ngIf="signUpForm.errors?.mismatch" class="text-danger">Passwords do not match</small>
        </div>
      </div>

      <button class="btn btn-block btn-primary">Register</button>

      <p class="text-center">
        Already have an account! <a routerLink=""> Login</a>
      </p>
    </form>
    <div *ngIf="signUpForm.errors?.mismatch">Error shown</div>
  </div>
</div>